/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

&mt {
    quick-tap-ms = <400>;
    flavor = "tap-preferred";
};

/ {
    macros {
        grave: grave {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp GRAVE &kp SPACE>;
            label = "GRAVE";
        };

        quote: quote {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp SQT &kp SPACE>;
            label = "QUOTE";
        };

        bt0: bt0 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 0 &bt BT_DISC 1 &bt BT_DISC 2 &bt BT_DISC 3>;
            label = "QUOTE";
        };

        bt1: bt1 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 1 &bt BT_DISC 0 &bt BT_DISC 2 &bt BT_DISC 3>;
            label = "QUOTE";
        };

        bt2: bt2 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 2 &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 3>;
            label = "QUOTE";
        };

        bt3: bt3 {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&bt BT_SEL 3 &bt BT_DISC 0 &bt BT_DISC 1 &bt BT_DISC 2>;
            label = "QUOTE";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q             &kp W        &kp F             &kp P           &kp B          &kp J        &kp L            &kp U            &kp Y        &kp SEMICOLON      &kp BSPC
&kp ESC    &mt LEFT_SHIFT A  &mt LCTRL R  &mt LEFT_ALT S    &mt LEFT_GUI T  &kp G          &kp M        &mt LEFT_GUI N   &mt RIGHT_ALT E  &mt RCTRL I  &mt RIGHT_SHIFT O  &kp ENTER
&kp LSHFT  &kp Z             &kp X        &kp C             &kp D           &kp V          &kp K        &kp H            &kp COMMA        &kp DOT      &kp FSLH           &kp RIGHT_SHIFT
                                          &mt LEFT_ALT TAB  &kp LEFT_GUI    &lt 2 ENTER    &lt 2 SPACE  &lt 3 BACKSPACE  &lt 4 ESC
            >;
        };

        Windows {
            bindings = <
&trans  &trans  &trans  &trans  &trans              &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans              &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &mt LCTRL LEFT_WIN  &trans    &trans  &trans  &trans
            >;
        };

        Symbols {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp GRAVE  &kp N1                &kp N2           &kp N3             &kp N4   &kp N5       &kp N6         &kp N7            &kp N8              &kp N9        &kp N0                 &kp BACKSLASH
&trans     &mt LEFT_SHIFT EQUAL  &mt LCTRL MINUS  &mt LEFT_ALT PLUS  &quote   &grave       &kp PAGE_UP    &kp LEFT          &mt RIGHT_ALT DOWN  &mt RCTRL UP  &mt RIGHT_SHIFT RIGHT  &trans
&trans     &kp PIPE              &kp UNDERSCORE   &kp TILDE          &kp SQT  &kp GRAVE    &kp PAGE_DOWN  &kp LEFT_BRACKET  &kp RIGHT_BRACKET   &trans        &kp BACKSLASH          &trans
                                                  &trans             &trans   &trans       &trans         &kp DELETE        &trans
            >;
        };

        medias {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&none  &kp C_PREVIOUS  &kp C_PLAY_PAUSE  &kp C_NEXT  &none   &none     &none       &none          &kp C_VOL_DN   &kp K_MUTE     &kp C_VOL_UP   &none
&none  &none           &none             &none       &none   &none     &none       &bt BT_DISC 0  &bt BT_DISC 1  &bt BT_DISC 2  &bt BT_DISC 3  &trans
&none  &none           &none             &none       &none   &none     &bt BT_CLR  &bt0           &bt1           &bt2   &bt3   &trans
                                         &trans      &tog 1  &trans    &trans      &trans         &trans
            >;
        };

        Fn {
            bindings = <
&none  &none       &none      &none         &none         &none     &kp F1   &kp F2      &kp F3  &kp F4  &kp F5       &none
&none  &kp LEFT_SHIFT  &kp LCTRL  &kp LEFT_ALT  &kp LEFT_GUI  &none     &kp F6   &kp F7      &kp F8  &kp F9  &kp F10      &none
&none  &none           &none      &none         &none         &none     &kp F11  &kp F12     &none   &none   &soft_off    &none
                                  &trans        &trans        &trans    &trans   &kp DELETE  &trans
            >;
        };
    };
};
